In [1]:
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df=pd.read_csv('카카오_뉴스.csv',encoding="cp949")
df=df.drop(['Unnamed: 0','링크','날짜'], axis=1)
df

                                              제목    정보제공
0          \n이쯤되면 살만하지 않아?…카카오를 보는 시선이 달라지고 있다\n    매일경제
1            \n"네이버·카카오 금융복합기업집단 지정해 리스크 대비해야"\n   아시아경제
2     \n신한카드, 공인전자문서 중계 서비스 9부 능선…카카오·KT 등과 경쟁\n    이데일리
3                   \n네이버·카카오, 간밤 나스닥 반등에 동반 ↑\n    한국경제
4     \n코스피, 美 증시 훈풍에 상승…네이버·카카오 3%대 강세 [개장시황]\n  이코노미스트
...                                          ...     ...
5007        \n아임웹, 유니드컴즈와 제휴 맺고 '카카오싱크 부스터' 도입\n    매일경제
5008              \n번개장터, 카카오T와 손잡고 ‘퀵 서비스’ 도입\n    이데일리
5009           \n"카카오 '수어 기브티콘'으로 따뜻한 연말 보내세요"\n  파이낸셜뉴스
5010            \n"이모티콘 살 때마다 카카오가 건당 1천원씩 기부"\n    이데일리
5011       \n렌터카에 UAM까지···'슈퍼앱' 입지 굳히는 카카오모빌리티\n    서울경제

[5012 rows x 2 columns]

In [3]:
word_list=df['제목'].str.split(' ',expand=False).sum()
word_list=pd.Series(word_list)
word_list

0               \n이쯤되면
1                 살만하지
2             않아?…카카오를
3                   보는
4                  시선이
             ...
34097           \n렌터카에
34098    UAM까지···'슈퍼앱'
34099               입지
34100              굳히는
34101        카카오모빌리티\n
Length: 34102, dtype: object

In [4]:
top_100_list=word_list.value_counts().iloc[:100] #빈도가 높은 상위 100개 출력
top_100_list

\n카카오,    640
카카오       572
\n카카오     526
카카오,      186
...\n     133
         ...
못          29
확대\n       28
홍은택        28
수          28
만든다\n      28
Length: 100, dtype: int64

In [5]:
top_100_list=top_100_list.to_frame()
top_100_list.columns=['횟수']
top_100_list

         횟수
\n카카오,  640
카카오     572
\n카카오   526
카카오,    186
...\n   133
...     ...
못        29
확대\n     28
홍은택      28
수        28
만든다\n    28

[100 rows x 1 columns]

In [6]:
top_100_list.to_csv('카카오_뉴스_top100_키워드.csv',encoding='cp949')